/* General container styles */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.sensor-boxes {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.sensor-box {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    width: 200px;
    margin: 10px;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sensor-header {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px 5px 0 0;
}

.sensor-box.turbidity .sensor-header {
    background-color: #00BFFF; /* Light blue */
}

.sensor-box.tds .sensor-header {
    background-color: #FFD700; /* Gold */
}

.sensor-box.ph .sensor-header {
    background-color: #FF6347; /* Tomato */
}

/* Header styling */
.main-header {
    text-align: center;
    margin-bottom: 20px;
}
